.account {
  height: 90px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between; /* Distribute items evenly */
  gap: 20px; /* Add spacing between items */
}

.accountText {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 0;
}

.accountText > * {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divider1,
.divider2,
.divider3 {
  grid-column: 2 / 2;
  background: #000;
  height: 100%;
}

.divider2 {
  grid-column: 4 / 4;
}

.divider3 {
  grid-column: 6 / 6;
}

.accountName {
  font-size: 20px;
  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.accountName:hover {
  cursor: pointer;
}

.accountUsername {
  font-size: 20px;
  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.accountUsername:hover {
  cursor: pointer;
}

.accountCategory {
  font-size: 20px;
  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.accountCategory:hover {
  cursor: pointer;
}
