.account {
  height: 90px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute items evenly */
  gap: 20px; /* Add spacing between items */
}

.accountText {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  padding-right: 3%;
  width: 70%;
  margin: auto;
}

.accountName {
  font-size: 20px;
  position: relative;
  align-self: center;
  text-align: center;
}

.divider1 {
  position: absolute;
  left: 25%;
}

.divider2 {
  position: absolute;
  left: 50%;
}

.divider3 {
  position: absolute;
  left: 75%;
}

.accountName:hover {
  cursor: pointer;
}

.accountUsername {
  font-size: 20px;
  position: relative;
  align-self: center;
  text-align: center;
}

.accountUsername:hover {
  cursor: pointer;
}

.accountCategory {
  font-size: 20px;
  position: relative;
  align-self: center;
  text-align: center;
}

.accountCategory:hover {
  cursor: pointer;
}
