.password {
  position: relative;
}

.accountPassword {
  font-size: 20px;
  position: relative;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.accountPassword:hover {
  cursor: pointer;
}