.accounts {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 40px 25px;
    padding: 10px;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }