#searchBar {
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  border-radius: 50px;
  font-family: "Lexend", sans-serif;
  height: 3rem;
  position: relative;
  align-self: center;
  margin-top: 20px;
}

.logoutButton {
  margin-top: 18px !important;
  margin-left: 0px !important;
}