body {
  text-align: center;
  background-color: #f6f6f6;
  font-family: "Lexend", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#addButton {
  border-radius: 50% !important;
  width: 70px !important;
  height: 70px !important;
  position: fixed !important;
  top: 87%;
  left: 93%;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#addGUI {
  position: absolute;
  width: 40%;
  left: 30%;
  height: 60%;
  top: 20%;
  visibility: hidden;
}

.accounts {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 40px 25px;
  padding: 10px;
  margin-left: 2%;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.account {
  width: 96%;
  height: 90px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12);
}
.accountText {
  display: grid;
  grid-template-columns: auto 15px auto 15px auto 15px auto;
  grid-template-rows: auto;
  width: 65%;
  left: 67px;
  position: relative;
}

#searchBar {
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  border-radius: 50px;
  font-family: "Lexend", sans-serif;
  height: 50px;
  width: 88.5%;
  position: relative;
  left: 5%;
  margin-top: 20px;
}

.dragIndicator {
  width: 1.5em !important;
  height: 1.5em !important;
  position: relative;
  left: -815px;
  top: 30%;
  color: rgb(90, 88, 88);
  cursor: grab;
}

.accountName {
  font-size: 20px;
  position: relative;
  bottom: 18px;
}

.accountName:hover {
  cursor: pointer;
}

.accountUsername {
  font-size: 20px;
  position: relative;
  bottom: 18px;
}

.accountUsername:hover {
  cursor: pointer;
}

.accountPassword {
  font-size: 20px;
  position: relative;
  bottom: 18px;
}

.accountPassword:hover {
  cursor: pointer;
}

.accountCategory {
  font-size: 20px;
  position: relative;
  bottom: 18px;
}

.accountCategory:hover {
  cursor: pointer;
}

.textDivider {
  height: 50px !important;
  margin-top: -28px !important;
}

.favoriteButton {
  position: relative;
  bottom: 55px;
  left: 800px;
}

.createFavouriteButton {
  position: relative;
  bottom: 20px;
}

.deleteButton {
  position: relative;
  left: 863px;
  bottom: 53px;
  color: rgb(129, 133, 130)
}

.deleteButton:hover {
  color: rgb(180, 0, 0);
  cursor: pointer;
}

.password {
  position: relative;
  bottom: 17px;
}

.button {
  border-radius: 50px !important;
  font-weight: bold !important;
}